* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Navbar section */
.navBar {
  background-color: blue;
  width: 90%;
  margin: 0 60px;
  display: flex;
  position: sticky;
  align-items: center;
}
.websiteLogo {
  height: 40px;
  width: 40px;
  margin: 15px 15px 15px 30px;
}
.websiteName {
  font-weight: 600;
  font-size: 18px;
}
.navBarContents {
  position: absolute;
  right: 30px;
  padding: 30px;
  display: flex;
}
.navBarContents a {
  padding: 20px 20px 20px 0;
  font-size: 16px;
  font-weight: 400;
}
.navbarItems {
  color: aliceblue;
}
.profileLogo {
  height: 60px;
  width: 30px;
  padding: 0;
}
.menuIcon {
  position: absolute;
  top: 45px;
  right: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  visibility: visible;
}
.menuUp,
.hidden {
  visibility: hidden;
}

/* Drop dowm menu */
.dropdownMenu {
  position: fixed;
  top: 66px;
  width: 190px;
  background-color: blue;
  padding: 0 10px 10px;
  z-index: 20;
}
.icon {
  margin: 10px 15px 10px 5px;
  height: 30px;
  width: 20px;
  cursor: pointer;
}
.list {
  list-style: none;
  font-weight: 600;
  cursor: pointer;
  color: aliceblue;
}
.dropdownMenu a {
  padding: 0;
}
.menuIcon:hover,
.list:hover {
  box-shadow: 0 0 5px rgb(70, 62, 62);
  padding: 5px;
}
.borderLine {
  border-bottom: 2px solid white;
  margin: 10px 0 20px;
}
.borderLine:hover {
  border-bottom: 2px solid black;
  transition: 0.4s ease;
}
.displayContents {
  display: flex;
  align-items: center;
}

/* Feedback Bar */
.feedbackForm{
  /* position: relative; */
  background-color: rgb(215, 226, 235);
  height: 500px;
  width: 65%;
  margin: auto;
  margin-top: 80px;
}
.feedbackForm .heading{
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}
.feedbackInputFields{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.feedbackInputFields label{
  padding: 20px 0;
  font-weight: 500;
}
.feedbackInputFields input, textarea{
  padding: 5px 10px;
}
.feedbackForm .buttons{
  float: right;
  margin: 30px;
  display: flex;
}
.buttons button{
  margin-right: 30px;
  padding: 5px 20px;
}