*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-color: darkslategray;
  }
  .topSection{
    display: flex;
  }
  .menuBar{
    background-color: crimson;
    height: 100px;
    width: 110px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 5%;
    display: block;
  }
  .hamBurger{
    height: 40px;
    width: 45px;
    margin: 25px;
    cursor: pointer;
  }
  .navBar{
    background-color: burlywood;
    width: 100%;
    height: 65px;
  }
  .profileLogo{
    float: right;
    margin: 15px 5px;
    height: 30px;
    width: 30px;
  }
  .login{
    float: right;
    margin: 15px 100px 15px 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
  .bodySection{
    display: flex;
  }
  .leftTab{
    background-color: rgb(32, 178, 134, 0.5);
    height: 450px;
    width: 500px;
    margin: 30px 30px 0 120px;
    border-radius: 10px;
  }
  .earthImage{
    width: 100%;
    border-radius: 10px;
  }
  .searchCity{
    margin: 20px 30px;
  }
  .searchButton{
    font-size: 15px;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    margin-left: 20px;
  }
  .inputBar{
    height: 28px;
    width: 310px;
    padding-left: 10px;
    margin-left: 5px;
    border-radius: 2px;
    border: none;
  }
  .rightTab{
    background-color: rgb(32, 178, 134, 0.5);
    height: 450px;
    width: 500px;
    margin: 30px 50px 0 10px;
    border-radius: 10px;
  }