*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-color: darkslategray;
  }
  .topSection{
    display: flex;
  }
  .menuBar{
    background-color: crimson;
    height: 100px;
    width: 110px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 5%;
    display: block;
  }
  .hamBurger{
    height: 40px;
    width: 45px;
    margin: 25px;
    cursor: pointer;
  }
  .navBar{
    background-color: burlywood;
    width: 100%;
    height: 65px;
  }
  .profileLogo{
    float: right;
    margin: 15px 5px;
    height: 30px;
    width: 30px;
  }
  .login{
    float: right;
    margin: 15px 100px 15px 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
  .loginForm{
    background-color: rgb(75, 138, 138);
    position: relative;
    height: 450px;
    width: 450px;
    margin: 50px 400px;
    border-radius: 10px;
  }
  .loginForm .googleButton{
    background-color: rgb(222, 231, 231);
    position: absolute;
    padding: 15px;
    margin: 30px 60px;
    width: 70%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  .loginForm h4{
    position: absolute;
    margin: 100px 200px;
  }
  .inputFields{
    position: absolute;
    margin: 140px 60px;
    width: 70%;
  }
  .inputFields input{
    position: relative;
    height: 30px;
    width: 100%;
    padding: 10px;
    margin: 20px 0  ;
    background: none;
    border: none;
    color: black;
    border-bottom: 1px solid rgb(69, 235, 235); 
  }
  .inputFields input::placeholder{
    color: black;
    size: 15px;
  }
  .loginButton{
    background-color: rgb(222, 231, 231);
    position: absolute;
    margin: 300px 165px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
  }
  .loginForm .createAccButton{
    background-color: rgb(222, 231, 231);
    position: absolute;
    padding: 15px;
    margin: 360px 60px 0;
    width: 70%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }