/* .navBar{
  background-color: aqua;
  height:40px;
  width: 98%;
  margin: 20px 20px;
  border-radius: 10px;
}
.leftTab{
  background-color: aqua;
  width: 45%;
  height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.leftTab_image{
  height: 60%;
  width: 98%;
  margin: 6px 6px;
  border-radius: 10px;
}
.leftTab_bottom{
  background-color: cadetblue;
  height: 200px;
  width: 96%;
  margin: 2% 2%;
  border-radius: 10px;
  position: relative;
}
.search{
  position: absolute;
  height: 25%;
  width: 95%;
  margin: 15px 10px;
  background-color: blue;
  border-radius: 5px;
  margin-block-end: 15px;
}
.inputBar{
  margin-top: 10px;
  margin-left: 5px;
  width: 80%;
  height: 25px;
}
.searchButton{
  width: 80px;
  height: 30px;
  margin-left: 5px;
}
.city{
  position: absolute;
  height: 100px;
  width: 90%;
  margin: 80px 25px;
  background-color: goldenrod;
}
.rightTab{
  position: absolute;
  background-color: violet;
  width: 52%;
  height: 600px;
  top: 80px;
  left: 47%;
  border-radius: 10px;
}
.rightTop{
  height: 350px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: chocolate;
}
.rightBottom{
  height: 220px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: crimson;
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: darkslategray;
}
.topSection{
  display: flex;
}
.menuBar{
  background-color: crimson;
  height: 100px;
  width: 110px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 5%;
  display: block;
}
.hamBurger{
  height: 40px;
  width: 45px;
  margin: 25px;
  cursor: pointer;
}
.navBar{
  background-color: burlywood;
  width: 100%;
  height: 65px;
}
.login{
  float: right;
  margin: 15px 70px;
  font-weight: 600;
}
.bodySection{
  display: flex;
}
.leftTab{
  background-color: rgb(32, 178, 134);
  height: 450px;
  width: 500px;
  margin: 20px 50px;
  border-radius: 10px;
}
.earthImage{
  width: 100%;
  background-color: blue;
}
.searchCity{
  margin: 20px 30px;
}
.searchButton{
  font-size: 15px;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 20px;
}
.inputBar{
  height: 28px;
  width: 310px;
  padding-left: 10px;
  margin-left: 5px;
  border-radius: 2px;
  border: none;
}
.rightTab{
  background-color: rgb(32, 178, 134);
  height: 450px;
  width: 500px;
  margin: 20px 50px;
  border-radius: 10px;
}