/* .navBar{
  background-color: aqua;
  height:40px;
  width: 98%;
  margin: 20px 20px;
  border-radius: 10px;
}
.leftTab{
  background-color: aqua;
  width: 45%;
  height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.leftTab_image{
  height: 60%;
  width: 98%;
  margin: 6px 6px;
  border-radius: 10px;
}
.leftTab_bottom{
  background-color: cadetblue;
  height: 200px;
  width: 96%;
  margin: 2% 2%;
  border-radius: 10px;
  position: relative;
}
.search{
  position: absolute;
  height: 25%;
  width: 95%;
  margin: 15px 10px;
  background-color: blue;
  border-radius: 5px;
  margin-block-end: 15px;
}
.inputBar{
  margin-top: 10px;
  margin-left: 5px;
  width: 80%;
  height: 25px;
}
.searchButton{
  width: 80px;
  height: 30px;
  margin-left: 5px;
}
.city{
  position: absolute;
  height: 100px;
  width: 90%;
  margin: 80px 25px;
  background-color: goldenrod;
}
.rightTab{
  position: absolute;
  background-color: violet;
  width: 52%;
  height: 600px;
  top: 80px;
  left: 47%;
  border-radius: 10px;
}
.rightTop{
  height: 350px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: chocolate;
}
.rightBottom{
  height: 220px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: crimson;
} */
/*
For create account page from line 83
*/
body{
  background-color: cadetblue;
}
/* .hamBurger{
  height: 40px;
  width: 45px;
  margin: 25px;
  cursor: pointer;
} */
.menuBar{
  /* background-color:powderblue;
  height: 100px;
  width: 110px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 5%;
  display: block; */
  /*side menubar*/
  height: 720px;
  width: 200px;
  background-color: aliceblue;
}
/* .closeIcon{
  height: 30px;
  width: 35px;
  margin: 25px;
  cursor: pointer;
  float: right;
  display: flex;
  align-items: flex-end;
} */
/* .LeftTab{
  margin-top: 20px;
  margin-left: 500px;
  height: 550px;
  width: 550px;
  background-color: brown;
}
 */
 /* .menuContent{
   /*Content within side menu bar*/
   /* margin-block-start: 20px;
  display: block;
  height: 720px;
  background-color:brown;
  box-shadow: 2px 5px 8px 0 rgba(61, 29, 29, 0.54);
  text-align: center;
} */ */
.home h3,.profile h3,.settings h3,.favorites h3,.closeIcon{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}
.closeIcon{
  margin-left: 155px;
  padding: 10px;
}
.GrClose{
  height:20px;
  width: 25px;
}
