.navBar{
  background-color: aqua;
  height:40px;
  width: 98%;
  margin: 20px 20px;
  border-radius: 10px;
}
.leftTab{
  background-color: aqua;
  width: 45%;
  height: 600px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}
.leftTab_image{
  height: 60%;
  width: 98%;
  margin: 6px 6px;
  border-radius: 10px;
}
.leftTab_bottom{
  background-color: cadetblue;
  height: 200px;
  width: 96%;
  margin: 2% 2%;
  border-radius: 10px;
  position: relative;
}
.search{
  position: absolute;
  height: 25%;
  width: 95%;
  margin: 15px 10px;
  background-color: blue;
  border-radius: 5px;
  margin-block-end: 15px;
}
.inputBar{
  margin-top: 10px;
  margin-left: 5px;
  width: 80%;
  height: 25px;
}
.searchButton{
  width: 80px;
  height: 30px;
  margin-left: 5px;
}
.city{
  position: absolute;
  height: 100px;
  width: 90%;
  margin: 80px 25px;
  background-color: goldenrod;
}
.rightTab{
  position: absolute;
  background-color: violet;
  width: 52%;
  height: 600px;
  top: 80px;
  left: 47%;
  border-radius: 10px;
}
.rightTop{
  height: 350px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: chocolate;
}
.rightBottom{
  height: 220px;
  width: 96%;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: crimson;
}
/*
For login page from line 83
*/
body{
  background-color: cadetblue;
}
.hamBurger{
  height: 40px;
  width: 45px;
  margin: 25px;
  cursor: pointer;
}
.menuBar{
  background-color:powderblue;
  height: 100px;
  width: 110px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 5%;
  display: block;
}
.CentreBox{
  width: 450px;
  height: 450px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 0px;
  margin: 10px 500px;
  border:none;
  border-radius:20px;
  background-color: teal;
}
.Middle{
  height:410px;
  width:400px;
  margin: 9px 11px;
  border-radius: 20px;
  background-color: aliceblue;
}
.Google{
  width: 99%;
  height:40px;
  border-radius: 20px;
}
.Or{
  width: 40px;
  height: 40px;
  margin-right: 50%;
  margin-left: 50%;
  background-color: brown;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.Mail{
  width: 99%;
  height:40px;
  border-radius: 20px;
}
.Password{
  width: 99%;
  height:40px;
  border-radius: 20px;
}

